<div class="container" data-ng-app="delStatsApp">
    <div class="alert alert-info main-bg shadow mb-2">
        <a href="#!"><b>Startseite</b></a>
    </div>

    <div class="alert alert-info main-bg shadow mb-2">
        <h1 class="mb-0">DEL-Karrierestatistiken</h1>
    </div>

    <form>
        <div class="form-row mb-1">
            <div class="input-group col-2">
                <select class="form-control" data-ng-model="position">
                    <option data-ng-option value selected="selected">alle Positionen</option>
                    <option data-ng-option value="GK">Torhüter</option>
                    <option data-ng-option value="DE">Verteidiger</option>
                    <option data-ng-option value="FO">Stürmer</option>
                </select>
            </div>
            <div class="input-group col-10 pl-0">
                <div class="input-group-prepend w-5">
                    <span class="input-group-text w-100 justify-content-center"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Spieler filtern" data-ng-model="ctrl.nameFilter" />
            </div>
        </div>
        <div class="form-row mb-1">
            <div class="input-group col-3">
                <select class="form-control" data-ng-model="table_type">
                    <option value="skater_career_stats">Basisstatistiken</option>
                    <option data-ng-if="position == 'GK'" value="goalie_career_stats">Torhüterstatistiken</option>
                    <option data-ng-if="position != 'GK'" data-ng-option value="skater_toi_shift_stats">Eiszeiten/Wechsel (seit 2018/19)</option>
                    <option data-ng-if="position != 'GK'" data-ng-option value="skater_additional_stats">Zusatzstatistiken (seit 2018/19)</option>
                </select>
            </div>
            <div class="input-group col-3 pl-0">
                <select class="form-control" data-ng-model="season_type">
                    <option data-ng-option value="ALL">Hauptrunde und Playoffs</option>
                    <option data-ng-option value="RS">Hauptrunde</option>
                    <option data-ng-option value="PO">Playoffs</option>
                </select>
            </div>
            <div class="input-group col-3 pl-0">
                <select class="form-control" data-ng-model="team" data-ng-options="team_full_name_lookup[team] for team in all_teams">
                    <option data-ng-option value selected="selected">alle Teams</option>
                </select>
            </div>
            <div class="input-group col-3 pl-0">
                <select class="form-control" id="country" data-ng-model="country">
                    <option data-ng-option value selected="selected">alle Länder</option>
                    <option data-ng-option value="non_de">Kontingent</option>
                    <option data-ng-option data-ng-repeat="country in display_countries" value="{{country['iso_country']}}">{{country['country']}}</option>                    
                </select>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="input-group col-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">von:</span>
                </div>
                <select class="form-control" data-ng-model="ctrl.from_season" data-ng-options="svc.getSeasonIdentifier(season) for season in svc.range(ctrl.first_season, ctrl.to_season)">
                </select>                
            </div>
            <div class="input-group col-3 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text">bis:</span>
                </div>
                <select class="form-control" data-ng-model="ctrl.to_season" data-ng-options="svc.getSeasonIdentifier(season) for season in svc.range(ctrl.from_season, ctrl.last_season)">
                </select>
            </div>
            <div class="input-group col-3 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text">von:</span>
                </div>
                <select class="form-control" data-ng-model="ctrl.from_age" data-ng-options="age for age in svc.range(ctrl.min_age, ctrl.to_age)">
                </select>                
            </div>
            <div class="input-group col-3 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text">bis:</span>
                </div>
                <select class="form-control" data-ng-model="ctrl.to_age" data-ng-options="age for age in svc.range(ctrl.from_age, ctrl.max_age)">
                </select>
            </div>
        </div>

        <div class="form-row mb-1">
            <div class="input-group col-4">
                <div class="mt-0 mb-3">
                    <div class="border-0">
                            <label for="show_only_active">
                            <input type="checkbox" id="show_only_active" data-ng-model="show_only_active" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Nur aktive Spieler anzeigen
                        </label>
                    </div>
                </div>
            </div>

            <div data-ng-if="team" class="input-group col-4">
                <div class="mt-0 mb-3">
                        <div class="border-0">
                            <label for="display_games_with_other_teams">
                            <input type="checkbox" id="display_games_with_other_teams" data-ng-model="ctrl.display_games_with_other_teams" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Auch Spiele mit anderen Teams aufführen
                        </label>
                    </div>
                </div>
            </div>

        </div>

    </form>

    <!-- basic skater career stats -->
    <career-stats-table data-ng-if="table_type == 'skater_career_stats'" id="skater_career_stats" stats-cols="stats_cols['skater_career_stats']" filtered-season-player-stats="filtered_season_player_stats" ctrl="ctrl"></career-stats-table>
    <!-- skater time-on-ice and shift stats -->
    <career-stats-table data-ng-if="table_type == 'skater_toi_shift_stats'" id="skater_toi_shift_stats" stats-cols="stats_cols['skater_toi_shift_stats']" filtered-season-player-stats="filtered_season_player_stats" ctrl="ctrl"></career-stats-table>
    <!-- skater additional stats -->
    <career-stats-table data-ng-if="table_type == 'skater_additional_stats'" id="skater_additional_stats" stats-cols="stats_cols['skater_additional_stats']" filtered-season-player-stats="filtered_season_player_stats" ctrl="ctrl"></career-stats-table>
    <!-- basic goalie career stats -->
    <career-stats-table data-ng-if="table_type == 'goalie_career_stats'" id="goalie_career_stats" stats-cols="stats_cols['goalie_career_stats']" filtered-season-player-stats="filtered_season_player_stats" ctrl="ctrl"></career-stats-table>

</div>