<div class="container" data-ng-app="delStatsApp">
    <div class="alert alert-info main-bg mb-2 shadow">
        <a href="#!"><b>Startseite</b></a> | <a href="#!/career_stats"><b>Karrierestatistiken</b></a>
    </div>

    <div class="alert alert-info main-bg mb-2 shadow">
        <div class="row align-items-center ml-0">
            <h2><a href="https://www.eliteprospects.com/player/{{player_stats.ep_id}}"><b>{{ player_first_name }} {{ player_last_name }}</b></a></h2>
            <span data-ng-repeat="country in player_stats.countries" class="flag-icon flag-icon-{{ country }} ml-2"></span>
        </div>
        <div class="col-md-6 ml-0 pl-0">
            <ul class="list-group list-group-horizontal my-1">
                <li class="col-12 list-group-item border-0 bg-transparent p-0">
                    <b>DEL-Karriere:</b> {{ svc.getSeasonIdentifier(ctrl.first_season) }} - {{ svc.getSeasonIdentifier(ctrl.last_season) }} ({{ no_of_seasons }} Saison{{ player_stats.no_of_seasons > 1 ? 's' : ''}})
                </li>
            </ul>
            <ul class="list-group list-group-horizontal my-1">
                <li class="col-6 list-group-item border-0 bg-transparent p-0">
                    <b>Geburtsdatum:</b> {{ player_stats.dob | date: 'dd.MM.yyyy' }}
                </li>
                <li class="col-6 list-group-item border-0 bg-transparent p-0">
                    <b>Alter:</b> {{ current_age }}
                </li>
            </ul>
            <ul class="list-group list-group-horizontal my-1">
                <li class="col-6 list-group-item border-0 bg-transparent p-0">
                    <b>Position:</b> {{player_stats.position.includes('D') ? 'Verteidiger' : player_stats.position.startsWith('G') ? 'Torhüter' : 'Stürmer'}}
                </li>
                <li class="col-6 list-group-item border-0 bg-transparent p-0">
                    <b>{{ player_stats.position.startsWith('G') ? 'Handschuh: ' : 'Stockhand: '}}</b> {{ player_stats.hand == 'L' ? 'links' : player_stats.hand == 'R' ? 'rechts' : 'unbekannt' }}
                </li>
            </ul>
        </div>
    </div>

    <form>
        <div class="form-row mb-1">
            <div class="input-group col-4">
                <select class="form-control" data-ng-model="table_select">
                    <option data-ng-if="player_stats.position.startsWith('G')" data-ng-option value="goalie_career_stats">Basisstatistiken</option>
                    <option data-ng-if="!player_stats.position.startsWith('G')" data-ng-option value="skater_career_stats">Basisstatistiken</option>
                    <option data-ng-if="!player_stats.position.startsWith('G') && player_stats.last_season > 2017" data-ng-option value="skater_toi_shift_stats">Eiszeiten/Wechsel (seit 2018/19)</option>
                    <option data-ng-if="!player_stats.position.startsWith('G') && player_stats.last_season > 2017" data-ng-option value="skater_additional_stats">Zusatzstatistiken (seit 2018/19)</option>
                    <option data-ng-if="player_stats.position.startsWith('G') && player_stats.last_season > 2017" data-ng-option value="goalie_toi_shift_stats">Goalie-Eiszeiten/Wechsel (seit 2018/19)</option>
                    <option data-ng-if="player_stats.position.startsWith('G') && player_stats.last_season > 2017" data-ng-option value="goalie_additional_stats">Goalie-Zusatzstatistiken (seit 2018/19)</option>
                </select>
            </div>
            <div class="input-group col-4 pl-0">
                <select class="form-control" data-ng-model="season_type">
                    <option data-ng-option value="ALL">Hauptrunde und Playoffs</option>
                    <option data-ng-option value="RS">Hauptrunde</option>
                    <option data-ng-option value="PO">Playoffs</option>
                </select>
            </div>
            <div class="input-group col-4 pl-0">
                <select class="form-control" data-ng-model="team" data-ng-options="team_full_name_lookup[team] for team in all_teams">
                    <option data-ng-option value selected="selected">alle Teams</option>
                </select>
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="input-group col-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">von:</span>
                </div>
                <select class="form-control" data-ng-model="ctrl.from_season" data-ng-options="svc.getSeasonIdentifier(season) for season in svc.range(ctrl.first_season, ctrl.to_season)">
                </select>                
            </div>
            <div class="input-group col-3 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text">bis:</span>
                </div>
                <select class="form-control" data-ng-model="ctrl.to_season" data-ng-options="svc.getSeasonIdentifier(season) for season in svc.range(ctrl.from_season, ctrl.last_season)">
                </select>
            </div>
            <div class="input-group col-3 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text">von:</span>
                </div>
                <select class="form-control" data-ng-model="from_age" data-ng-options="age for age in svc.range(min_age, to_age)">
                </select>                
            </div>
            <div class="input-group col-3 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text">bis:</span>
                </div>
                <select class="form-control" data-ng-model="to_age" data-ng-options="age for age in svc.range(from_age, max_age)">
                </select>
            </div>
        </div>
        <div class="mt-0 mb-3" data-ng-if="has_partial_seasons">
            <div class="border-0">
                    <label for="show_partial_seasons">
                    <input type="checkbox" id="show_partial_seasons" data-ng-model="$parent.show_partial_seasons" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Partielle Spielzeiten anzeigen
                </label>
            </div>
        </div>
    </form>
    
    <!-- basic goalie career stats -->
    <player-career-table id="goalie_career_stats" pid="player_stats.c_id" stats-cols="stats_cols['goalie_career_stats']" filtered-seasons="filtered_seasons" ctrl="ctrl" season-type="season_type" data-ng-if="table_select == 'goalie_career_stats'"></player-career-table>
    <!-- basic skater career stats -->
    <player-career-table id="skater_career_stats" pid="player_stats.c_id" stats-cols="stats_cols['skater_career_stats']" filtered-seasons="filtered_seasons" ctrl="ctrl" season-type="season_type" data-ng-if="table_select == 'skater_career_stats'"></player-career-table>
    <!-- skater time-on-ice and shift career stats -->
    <player-career-table id="skater_toi_shift_stats" pid="player_stats.c_id" stats-cols="stats_cols['skater_toi_shift_stats']" filtered-seasons="filtered_seasons" ctrl="ctrl" season-type="season_type" data-ng-if="table_select == 'skater_toi_shift_stats'"></player-career-table>
    <!-- skater additional career stats -->
    <player-career-table id="skater_additional_stats" pid="player_stats.c_id" stats-cols="stats_cols['skater_additional_stats']" filtered-seasons="filtered_seasons" ctrl="ctrl" season-type="season_type" data-ng-if="table_select == 'skater_additional_stats'"></player-career-table>

</div>