<div class="container" data-ng-app="delStatsApp">
    <div class="alert alert-info main-bg mb-2 shadow">
        <a href="#!"><b>Startseite</b></a> | <a href="#!/team_stats/{{ season }}"><b>Teamstatistiken</b></a> | <a href="#!/del_stats/{{ season }}"><b>Spielerstatistiken</b></a>
    </div>

    <div data-ng-if="season == 2025" class="alert alert-info main-bg mb-2 shadow">
        <h1>Spielpläne der DEL-Saison {{ svc.getSeasonIdentifier(season) }}</h1>
        <p>Für jedes Team sowie die gesamte Liga stehen die jeweiligen Spielpläne im iCalendar-Format (*.ics) zum Download zur Verfügung.</p>
    </div>

    <div data-ng-if="season == 2025" class="alert alert-info main-bg mb-2 shadow">
        <div class="row mb-3 text-center">
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_AEV.ics"><img class="img-fluid" src="img/logos/logo_AEV.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_AEV.ics">Augsburger Panther</a></p>
            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_EBB.ics"><img class="img-fluid" src="img/logos/logo_EBB.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_EBB.ics">Eisbären Berlin</a></p>
            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_BHV.ics"><img class="img-fluid" src="img/logos/logo_BHV.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_BHV.ics">Fischtown Pinguins</a></p>
            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_DRE.ics"><img class="img-fluid" src="img/logos/logo_DRE.png" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_DRE.ics">Dresdner Eislöwen</a></p>
            </div>
        </div>

        <div class="row mb-3 text-center">
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_FRA.ics"><img class="img-fluid" src="img/logos/logo_FRA.png" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_FRA.ics">Löwen Frankfurt</a></p>
            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_ING.ics"><img class="img-fluid" src="img/logos/logo_ING.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_ING.ics">ERC Ingolstadt</a></p>
            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_IEC.ics"><img class="img-fluid" src="img/logos/logo_IEC.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_IEC.ics">Iserlohn Roosters</a></p>
            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_KEC.ics"><img class="img-fluid" src="img/logos/logo_KEC.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_KEC.ics">Kölner Haie</a></p>
            </div>
        </div>

        <div class="row mb-3 text-center">
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_MAN.ics"><img class="img-fluid" src="img/logos/logo_MAN.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_MAN.ics">Adler Mannheim</a></p>
            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_RBM.ics"><img class="img-fluid" src="img/logos/logo_RBM.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_RBM.ics">Red Bull München</a></p>
            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_NIT.ics"><img class="img-fluid" src="img/logos/logo_NIT.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_NIT.ics">Nürnberg Ice Tigers</a></p>
            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_SWW.ics"><img class="img-fluid" src="img/logos/logo_SWW.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_SWW.ics">Schwenninger Wild Wings</a></p>
            </div>
        </div>

        <div class="row mb-3 text-center">
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_STR.ics"><img class="img-fluid" src="img/logos/logo_STR.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_STR.ics">Straubing Tigers</a></p>
            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar_WOB.ics"><img class="img-fluid" src="img/logos/logo_WOB.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar_WOB.ics">Grizzlys Wolfsburg</a></p>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <span><a href="data/calendars/del_calendar.ics"><img class="img-fluid" src="img/logos/logo_DEL.svg" alt="Team logo" width="150" height="150"/></a></span>
                <p class="my-0"><a href="data/calendars/del_calendar.ics">Deutsche Eishockey Liga</a></p>
            </div>
        </div>
    </div>

</div>