<tbody>
    <tr>
        <td colspan="{{ statsCols.length }}"></td>
    </tr>
    <tr class="{{ (seasonType == 'RS') ? 'table-info' : (seasonType == 'PO') ? 'table-warning' : '' }}">
        <th scope="col" class="text-center" colspan="5"><b>{{ seasonType == 'ALL' ? 'Gesamt:' : seasonType == 'RS' ? 'Hauptrunde:' : 'Playoffs:' }}</b></td>
        <th scope="col" class="text-center" data-ng-repeat="col in statsCols.slice(5)">
            <a data-ng-if="col['sortable'] === undefined || col['sortable'] == true" href="" data-ng-click="ctrl.teamSeasonSortConfig = svc.setSortOrder2(col.data_key, ctrl.teamSeasonSortConfig, ctrl.sortCriteria, ['season_type', 'team', 'season'])">
                <abbr title="{{col.expl_de}}" data-ng-if="col.expl_de">{{col.col_header}}</abbr>
                <span data-ng-if="!col.expl_de">{{col.col_header}}</span>
                <span data-ng-show="ctrl.teamSeasonSortConfig['sortKey'] == col.data_key && ctrl.teamSeasonSortConfig['sortDescending']" class="fa fa-caret-down"></span>
                <span data-ng-show="ctrl.teamSeasonSortConfig['sortKey'] == col.data_key && !ctrl.teamSeasonSortConfig['sortDescending']" class="fa fa-caret-up"></span>
            </a>
            <span data-ng-if="col['sortable'] == false">{{col.col_header}}</span>
        </th>
    </tr>
    <tr
        data-ng-if="team_season['gp'] > 0"
        data-ng-repeat="team_season in ctrl.filtered_seasons_by_team | filter:{season_type: seasonType} | orderBy:ctrl.teamSeasonSortConfig['sortCriteria']:ctrl.teamSeasonSortConfig['sortDescending']"
        class="{{ (seasonType == 'RS') ? 'table-info' : (seasonType == 'PO') ? 'table-warning' : '' }}"
    >
        <td class="text-center"><b>{{team_season.team}}</b></td>
        <td colspan="4">
            {{ team_season.no_of_seasons + ' Saison' + (team_season.no_of_seasons > 1 ? 's' : '') }}
            {{ ' (' + (team_season.min_age == team_season.max_age ? team_season.min_age : team_season.min_age + ' bis ' + team_season.max_age) + ' Jahre)' }}
            {{ team_season.championships ? team_season.championships : '' }}
            <i data-ng-if="team_season.championships" class="fas fa-trophy" aria-hidden="true"></i>
        </td>
        <td
            ng-repeat="col in statsCols.slice(5)"
            class="w-{{ svc.pad(col.width, 2) }} text-{{ col.align ? col.align : 'right' }}"
        >
            {{ col.time ? svc.formatTime(team_season[col.data_key]) : col.fixed ? team_season[col.data_key].toFixed(col.fixed) : team_season[col.data_key] }}
            {{ col.pctg ? ' %' : '' }}
            <span data-ng-if="col.valid_from && ctrl.from_season < col.valid_from && ctrl.first_season < col.valid_from" title="Ohne Daten vor {{ svc.getSeasonIdentifier(col.valid_from) }}">*</span>
        </td>
    </tr>

    <tr class="{{ (seasonType == 'RS') ? 'table-info' : (seasonType == 'PO') ? 'table-warning' : '' }}">
        <td class="text-center"><b>
            {{ totalTeams = svc.getNumberOfUniqueItemsInSeasons(filteredSeasons, 'team', '', seasonType) }} Team{{ totalTeams == 1 ? '' : 's'}}
        </b></td>
        <td colspan="4">
            <b>
                {{ totalSeasons = svc.getNumberOfUniqueItemsInSeasons(filteredSeasons, 'season', '', seasonType) }} Saison{{ totalSeasons == 1 ? '' : 's'}}
            </b>
            <span data-ng-if="ctrl.number_of_championships > 0"><b> &mdash; {{ ctrl.number_of_championships }} <i class="fas fa-trophy" aria-hidden="true"></i></b></span>
        </td>
        <td
            ng-repeat="col in statsCols.slice(5)"
            class="w-{{ svc.pad(col.width, 2) }} text-{{ col.align ? col.align : 'right' }}"
        >
            <b>
                {{
                    (col.time && col.rate_parameter)
                    ?
                        svc.formatTime(svc.calculateRate(
                            svc.getFilteredTotal(filteredSeasons, col.value_to_rate, [], '', seasonType),
                            svc.getFilteredTotal(filteredSeasons, col.rate_parameter, [], '', seasonType)
                        ))
                    :
                    col.time
                    ?
                        svc.formatTime(svc.getFilteredTotal(filteredSeasons, col.data_key, [], '', seasonType))
                    :
                    col.pctg
                    ?
                        svc.calculatePercentage(
                            svc.getFilteredTotal(filteredSeasons, col.part_value, [], '', seasonType),
                            svc.getFilteredTotal(filteredSeasons, col.base_value, [], '', seasonType)
                        ).toFixed(col.fixed) + ' %'
                    :
                    col.rate_parameter
                    ?
                        svc.calculateRate(
                            svc.getFilteredTotal(filteredSeasons, col.value_to_rate, [], '', seasonType),
                            svc.getFilteredTotal(filteredSeasons, col.rate_parameter, [], '', seasonType)
                        ).toFixed(col.fixed)
                    :
                        svc.getFilteredTotal(filteredSeasons, col.data_key, [], '', seasonType)
                }}
            <span data-ng-if="col.valid_from && ctrl.from_season < col.valid_from && ctrl.first_season < col.valid_from" title="Ohne Daten vor {{ svc.getSeasonIdentifier(col.valid_from) }}">*</span>
            </b>
        </td>
    </tr>
</tbody>
